<div class="container">
 <div class="row">
  <div class="span12">
    <h1>DON'T PANIC</h1>
  </div>
 </div>
  <div class="row">
    <div class="span12 header">
      <h3>
        Country
        <span>(India)</span> <i class="icon-chevron-up"></i>
      </h3>
    </div>
    <div class="span12">
      <ul class="nav nav-tabs nav-stacked">
        <li>
          <a href="#">India</a>
        </li>
        <li class="active">
          <a href="#">USA</a>
        </li>
        <li>
          <a href="#">China</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="span12 header">
      <h3>
        City
        <span>(Chennai)</span> <i class="icon-chevron-up"></i>
      </h3>
    </div>
    <div class="span12">
      <ul class="nav nav-tabs nav-stacked">
        <li>
          <a href="#">Chennai</a>
        </li>
        <li class="active">
          <a href="#">Bangalore</a>
        </li>
        <li>
          <a href="#">Pune</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h3>
        Offices
        <i class="icon-chevron-up"></i>
      </h3>
    </div>
    <div class="span12">
      <ul class="nav nav-pills">
        <li class="active">
          <a href="#">ThoughtWorks</a>
        </li>
        <li>
          <a href="#">McKinsey</a>
        </li>
        <li>
          <a href="#">Guardian</a>
        </li>
      </ul>
    </div>
    <div class="span12">
      <div class="row">
        <div class="span12">
          <h4>Chennai Ascendas</h4>
        </div>
        <div class="span8">
          <address> <strong>Ascendas International Tech Park</strong>
            <br/>
            Zenith - 9th Floor
            <br/>
            Tharamani Road
            <br/>
            Tharamani
            <br/>
            Chennai - 600 113, India
            <br/>
          </address>
        </div>
        <div class="span4">+91 44 4901 8400</div>
      </div>
      <div class="row">
        <div class="span12">
          <h4>Chennai Ascendas</h4>
        </div>
        <div class="span8">
          <address> <strong>Ascendas International Tech Park</strong>
            <br/>
            Zenith - 9th Floor
            <br/>
            Tharamani Road
            <br/>
            Tharamani
            <br/>
            Chennai - 600 113, India
            <br/>
          </address>
        </div>
        <div class="span4">+91 44 4901 8400</div>
      </div>
    </div>
  </div>
</div>