<div class="container">
  <div class="row heading">
    <div class="span12">
      <h2>
        DON'T |
        <span class="panic">PANIC</span>
      </h2>
    </div>
  </div>
  <span ng-controller="Controller">
    <div class="row">
      <div class="span12 header">
        <h4>
          Country
          <span>({{chosenCountry.name}})</span> <i class="icon-chevron-up"></i>
        </h4>
      </div>
      <div class="span12">
        <ul class="nav nav-tabs nav-stacked">
          <li ng-repeat="country in data" class="{{country == chosenCountry && 'active'}}">
            <a href="" ng-click="chooseCountry(country)">{{country.name}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="span12 header">
        <h4>
          City
          <span>({{chosenCity.name}})</span> <i class="icon-chevron-up"></i>
        </h4>
      </div>
      <div class="span12">
        <ul class="nav nav-tabs nav-stacked">
          <li ng-repeat="city in chosenCountry.cities" class="{{city == chosenCity && 'active'}}">
            <a href="" ng-click="chooseCity(city)">{{city.name}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="span12 header">
        <h4>
          Offices
          <span>({{chosenCompany.name}})</span>
          <i class="icon-chevron-up"></i>
        </h4>
      </div>
      <div class="span12">
        <ul class="nav nav-pills">
          <li ng-repeat="company in chosenCity.companies" class="{{company == chosenCompany && 'active'}}">
            <a href="" ng-click="chooseCompany(company)">{{company.name}}</a>
          </li>
        </ul>        
        <span ng-repeat="office in chosenCompany.offices">
          <div class="row" >
            <div class="span6"> <h5>{{office.name}}</h5>
              <a href="{{mapLink(office)}}"><address ng-bind-html-unsafe="displayAddress(office.address)"></address></a>
            </div>
            <div class="span6">
              <span class="admin" ng-repeat="admin in office.admins">                 
                <div class="contacts">
                  <h5>Contact {{admin.name}}</h5>
                  <div class="btn-group btn-group-vertical">                    
                    <a ng-repeat="number in displayPhoneNumbers(admin.number)" ng-bind-html-unsafe="number" class="btn" href="tel:{{number}}"></a>
                  </div>                  
                </div>
              </span>
            </div>
          </div>
          <hr class="clearfix"/>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="span12 header">
        <h4>
          Places
          <span>({{chosenPlaceType.name}})</span>
          <i class="icon-chevron-up"></i>
        </h4>
      </div>
      <div class="span12">
        <ul class="nav nav-pills">
          <li ng-repeat="placeType in chosenCity.placeTypes" class="{{placeType == chosenPlaceType && 'active'}}">
            <a href="" ng-click="choosePlaceType(placeType)">{{placeType.name}}</a>
          </li>
        </ul>        
        <span ng-repeat="place in chosenPlaceType.places">
          <div class="row" >
            <div class="span6">
              <strong>{{place.name}}</strong>
              <a href="{{mapLink(place)}}"><address ng-bind-html-unsafe="place.address"></address></a>
            </div>
          </div>
          <hr class="clearfix"/>
        </span>
      </div>
    </div>

  </span>
</div>