<div class="container">
  <div class="row">
    <div class="span12">
      <h1>
        DON'T |
        <span class="panic">PANIC</span>
      </h1>
    </div>
  </div>
  <span ng-controller="Controller">
    <div class="row">
      <div class="span12 header">
        <h3>
          Country
          <span>({{chosenCountry.name}})</span> <i class="icon-chevron-up"></i>
        </h3>
      </div>
      <div class="span12">
        <ul class="nav nav-tabs nav-stacked">
          <li ng-repeat="country in data" class="{{country == chosenCountry && 'active'}}">
            <a href="" ng-click="chooseCountry(country)">{{country.name}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="span12 header">
        <h3>
          City
          <span>({{chosenCity.name}})</span> <i class="icon-chevron-up"></i>
        </h3>
      </div>
      <div class="span12">
        <ul class="nav nav-tabs nav-stacked">
          <li ng-repeat="city in chosenCountry.cities" class="{{city == chosenCity && 'active'}}">
            <a href="" ng-click="chooseCity(city)">{{city.name}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="span12 header">
        <h3>
          Offices
          <span>({{chosenCompany.name}})</span>
          <i class="icon-chevron-up"></i>
        </h3>
      </div>
      <div class="span12">
        <ul class="nav nav-pills">
          <li ng-repeat="company in chosenCity.companies" class="{{company == chosenCompany && 'active'}}">
            <a href="" ng-click="chooseCompany(company)">{{company.name}}</a>
          </li>
        </ul>
        <span ng-repeat="office in chosenCompany.offices">
          <div class="row" >
            <div class="span6"> <strong>{{office.name}}</strong>
              <address ng-bind-html-unsafe="office.address"></address>
            </div>
            <div class="span6">
              <span class="admin" ng-repeat="admin in office.admins"> <strong>{{admin.name}}</strong>
                <address ng-bind-html-unsafe="admin.number"></address>
              </span>
            </div>
          </div>
          <hr class="clearfix"/>
        </span>
      </div>
    </div>

  </span>
</div>