.heading {
  margin-top: 20px;
}

.contacts {
  margin: 10px 0;
}

.header {  
  cursor: pointer;
  span {
    color: #aaa;
  }  
}

.panic {
  color: darkRed;
}

.active {
  a {    
    font-weight: bold;
  }
}